<div class="container">
  <div>
    <nav>
        <button class="btn btn-primary" (click)="switchLanguageParent('en')">English</button>
        <button class="btn btn-primary" (click)="switchLanguageParent('hu')">Magyar</button>
    </nav>
  </div>
    <tbody>
      <tr *ngFor="let product of products">
        <app-itemproduct [product]="product"></app-itemproduct>
      </tr>
    </tbody>

  <form>
    <div class="mb-3">
      <label for="productId" class="form-label">{{"Id"| translate}}</label>
      <input type="number" class="form-control" name="productId" [(ngModel)] = "newProduct.id" placeholder="ide írj egy számot"/>
    </div>
    <div class="mb-3">
      <label for="productName" class="form-label">{{"Name"| translate}}</label>
      <input type="text" class="form-control" name="productName" [(ngModel)] = "newProduct.name"/>
    </div>
    <div class="mb-3">
      <label for="productPrice" class="form-label">{{"Price"| translate}}</label>
      <input type="text" class="form-control" name="productPrice" [(ngModel)] = "newProduct.price"/>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">{{"Category"| translate}}</label>
      <input type="text" class="form-control" name="category" [(ngModel)] = "newProduct.category"/>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">{{"Description"| translate}}</label>
      <input type="text" class="form-control" name="description" [(ngModel)] = "newProduct.description"/>
    </div>
    <button (click)="createProduct()" class="btn btn-primary">{{"Create"| translate}}</button>
    <!-- <button (click)="modifyProduct()" class="btn btn-primary">
      Modify
    </button> -->
  </form>
</div>